{% extends 'shop/basic2.html' %}

{% block title%} About Us{% endblock %}
{% block body %}


<style>
.bg-image {
  /* The image used */
  background-image: url("/media/shop/images/n5.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


</style>


<main role="main">
    <div class="bg-image"></div>
<div class="bg-text">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">BOOKS COLLECTION</h1>
      <p>
        We as a team provide you the books you like and encourage your intrest and taste .
        Explore the books to provide your reading passion with your precious time .
        This platform is the result that comes from the sense of being encouraged by the upcoming youth with a great taste in different books also it is up bring by the one who is like you .
        Soo keeping all this points we have carved this plan as a ready hands on platform.
        We hope You all will enjoy it .
        HAPPY READING !
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Explore</h2>
        <p>
          Naive to books !
          Don't Worry ,Lets Explore with us.Find amazing books just by knowing categories .Every kind of book either Fiction,Horror or Either Romance
          Find interesting Join our family and explore more features !
          We initiate you ,We appreciate you
          Waiting for you to be the part of our family !
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Steps to join us</h2>
        <p>Not with Us ? Sign Up
          Welcome to our family ! Surf the books of your choice. Gain interest in the books through books breif description and cover page ! Next time you visit the books will be of your taste
          Get ready to bloom with books !
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Add to cart</h2>
        <p>Once you are connected you can save the desired books in you personal cart Soo , Revisit And Enjoy reading ! </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
</div>
</main>





{% endblock %}